<!DOCTYPE html>
<html>

<head>
    <title>Remote Control Trafficlight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="bower_components/firebaseui/dist/firebaseui.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">


    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/firebaseui/dist/firebaseui.js"></script>

    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-messaging.js"></script>



</head>

<body ng-app="iotSample" class="container">
    <div ng-controller="ledController as ctrl" ng-cloak="">


        <div class="col-md-3"></div>
        <div class="col-md-6 col-xs-18">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-static-top">
                        <a class="navbar-brand" href="#">IoT Trafficlight</a>
                        <button class="btn active btn-sm btn-success pull-right" ng-click="ctrl.signIn()">Sign in!</button>
                    </div>
                </div>
            </nav>
            <div class="panel panel-default">
                <div class="panel-heading">Current state</div>
                <div class="panel-body">
                    <div class="clear">
                        <div class="left">Current light: </div>
                        <div name="current_light" id="current_light" class="circle left" ng-class="ctrl.ledStatus === false ? 'black' : ctrl.ledColor"></div>
                        <div class="clear">
                            <div class="left">Buzzer status:</div>
                            <div name="buzzer_status" id="buzzer_status" class="left"> {{ctrl.buzzerStatus === true ? 'On' : 'Off'}}</div><br />
                            <div class="clear">
                                <div class="left">Next buzzer:</div>
                                <div name="next_buzzer" id="next_buzzer" class="left"> {{ctrl.buzzerTime}}</div><br />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Switch it up!</div>
                <div class="panel-body">
                    <fieldset>
                        <label>Toggle trafficlight on or off</label>
                        <br />
                        <button class="btn active btn-sm" ng-class="ctrl.ledStatus === true ? 'btn-danger' : 'btn-success'" ng-click="ctrl.setLedStatus()"> {{ctrl.ledStatus === true ? 'Turn it off' : 'Turn it on'}} </button>
                    </fieldset>
                    <fieldset>
                        <label>Select your color</label><br />
                        <button class="btn active btn-sm btn-danger" ng-click="ctrl.setLedColor('red')">Red!</button>
                        <button class="btn active btn-sm btn-warning" ng-click="ctrl.setLedColor('yellow')">Yellow!</button>
                        <button class="btn active btn-sm btn-success" ng-click="ctrl.setLedColor('green')">Green!</button>
                    </fieldset>
                    <fieldset>
                        <label>Select a time for the next meeting</label><br />
                        <input type="text" placeholder="HH:MM" ng-model="time">
                        <button class="btn active btn-sm btn-success" ng-click="ctrl.setBuzzerTime(time)">Post it!</button>
                    </fieldset>
                    <fieldset>
                        <label>Buzz!</label>
                        <br />
                        <button class="btn active btn-sm" ng-class="ctrl.buzzerStatus === true ? 'btn-danger' : 'btn-success'" ng-click="ctrl.setBuzzerStatus()"
                            ng-disabled="ctrl.buzzerStatus"> {{ctrl.buzzerStatus === true ? 'Buzzing...!' : 'Buzzz!'}} </button>
                    </fieldset>
                </div>
            </div>
            <footer>
                <img class="img_footer" src="img/firebase.png" alt="firebase" />
                <img class="img_footer" src="img/angularjs.png" alt="firebase" />
                <img class="img_footer" src="img/python.png" alt="firebase" />
                <img class="img_footer" src="img/vscode.ico" alt="firebase" />
                <img class="img_footer" src="img/raspberrypi.png" alt="firebase" />
            </footer>
        </div>
        <div class="col-md-3"></div>
    </div>

    <script type="text/javascript">


        angular.module('iotSample', [])
            .controller('ledController', function ($scope, $timeout) {
                this.ledStatus;
                this.ledColor;
                this.buzzerStatus;
                this.buzzerTime;
                _this = this;

                var provider = new firebase.auth.GoogleAuthProvider();

                var config = {
                    apiKey: "AIzaSyBqAzZVXDVsEGtqqs7OTvTzfkgPVqLkM1c",
                    authDomain: "spirit-pi.firebaseapp.com",
                    databaseURL: "https://spirit-pi.firebaseio.com",
                    storageBucket: "spirit-pi.appspot.com",
                    messagingSenderId: "508973370880"
                };

                firebase.initializeApp(config);

                firebase.database().ref('Trafficlight').on('value', function (result) {
                    $timeout(function () {
                        _this.ledStatus = result.val().LedStatus;
                        _this.ledColor = result.val().LedColor;
                    });
                });

                firebase.database().ref('Buzzer').on('value', function (result) {
                    $timeout(function () {
                        _this.buzzerStatus = result.val().BuzzerStatus;
                        _this.buzzerTime = result.val().BuzzerTime;
                    });
                });

                this.setLedStatus = function () {
                    firebase.database().ref('Trafficlight').set({
                        'LedStatus': this.ledStatus ? false : true,
                        'LedColor': this.ledColor
                    });
                }

                this.setLedColor = function (color) {
                    firebase.database().ref('Trafficlight').set({
                        'LedStatus': this.ledStatus,
                        'LedColor': color
                    });
                }

                this.setBuzzerTime = function (time) {
                    firebase.database().ref('Buzzer').set({
                        'BuzzerStatus': this.buzzerStatus,
                        'BuzzerTime': time,
                    });
                }

                this.setBuzzerStatus = function () {
                    firebase.database().ref('Buzzer').set({
                        'BuzzerStatus': true,
                        'BuzzerTime': this.buzzerTime,
                    });
                }

                this.signIn = function() {
                    firebase.auth().signInWithPopup(provider).then(function(result) {
                        // This gives you a Google Access Token. You can use it to access the Google API.
                        var token = result.credential.accessToken;
                        // The signed-in user info.
                        var user = result.user;
                    // ...
                    }).catch(function(error) {
                        // Handle Errors here.
                        var errorCode = error.code;
                        var errorMessage = error.message;
                        // The email of the user's account used.
                        var email = error.email;
                        // The firebase.auth.AuthCredential type that was used.
                        var credential = error.credential;
                        // ...
                    });
                };
            });
    </script>
</body>

</html>