body{
    background-color:rgba(204, 219, 220, 1);
}

.circle {
	width: 20px;
	height: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.red{
    background: red;
}

.yellow{
    background: yellow;
}

.green{
    background: green;
}

.black{
    background: black;
}

.left{
    float: left;
}

.clear{
    clear: both;
}

.img_footer{
    max-height: 18%;
    width:18%;
}
