body{
    background-color:rgba(204, 219, 220, 1);
}

.circle {
	width: 20px;
	height: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.red{
    background: red;
}

.yellow{
    background: yellow;
}

.green{
    background: green;
}

.black{
    background: black;
}

.left{
    float: left;
}

.clear{
    clear: both;
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

.slate   { background-color: #ddd; }

.slate select   { color: #000; }
